<% lorem = "Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Dicta aspernatur doloribus eveniet cum molestias et beatae cupiditate. Accusamus dignissimos laboriosam nihil rem sit maxime! Eos inventore debitis quia, consectetur quo!" %>

<h2> <%= @article.title %> </h2>

<h4> <%= @article.content %> </h4>

<p> <%= lorem * 10 %> </p>
